*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    background: linear-gradient(180deg, #F6FAFD 0%, #FFF 100%);
    color: var(--1, #4B5D68);
}
.header{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.header_nav-container{
    display: flex;
    align-items: center;
}
.header_nav_ul{
    margin-left: 120px;
    display: flex;
    list-style-type: none;
    gap: 40px;
}
.header_nav_link{
    text-decoration: none;
    font-weight: 500;
    line-height: 160%;
    color: var(--1, #4B5D68);
}
.header_nav_link:hover{
    font-weight: 800;
    color: var(--2, #212353);
}
.header_btn, .btn_request_demo{
    display: flex;
    align-items: center;
    font-weight: 800;
    line-height: 160%;
    padding: 17px 49px 17px 29px;
    border-radius: 50px;
    background: #FFF;
    box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.10);
    border: none;
    gap: 20px;
}
.header_btn:hover, .btn_request_demo:hover{
    cursor: pointer;
    background-color:#ff98d6;
    transition: 0.1s;
    color: #FFF;
}
.main_container{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.main{
    margin-top: 130px;
    margin-bottom: 200px;
    position: relative;
    display: flex;
}
.main_content{
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 645px;
}
.main_title{
    font-size: 80px;
    font-weight: 700;
    line-height: 110%;
    color: var(--2, #212353)
}
.main_text{
    width: 380px;
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
}
.main_btn{
    align-self: start;
    padding: 16px 37px;
    border-radius: 50px;
    background: var(--3, #9C69E2);
    border: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 800;
}
.main_img{
    position: absolute;
    left: 363px;
    top: 96px;
}
.explain{
    width: 1117px;
    display: flex;
    justify-content: space-around;
    border-radius: 50px;
    background: rgba(240, 99, 184, 0.15);
    margin-bottom: 150px;

}
.explain_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    max-width: 475px;;
}
.explain_title{
    color: #212353;
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
}
.explain_text{
    color: var(--1, #4B5D68);
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
}
.features{
    display: flex;
    flex-direction: column;
}
.features_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 180px;
}
.features_header-title{
    color: #212353;
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 50px;
}
.features_header-text{
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    width: 584px;
    text-align: center;
}
.features-content_main-wrap{
    height: 690px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.features-content_part{
    display: flex;
    max-width: 485px;
    align-content: space-evenly;
}
.features-content_text-wrap{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    gap: 20px;
}
.features-content_title{
    color: #212353;
    font-size: 24px;
    font-weight: 400;
    line-height: 130%;
}
.features-content_text{
    width: 220px;
    height: 160px;
    font-size: 16px;
    line-height: 160%;
}
.features-content_btn{
   border: none;
   background-color: inherit;
   display: flex;
   gap: 20px;
   color: var(--2, #212353);
    font-weight: 800;
    line-height: 160%;
    letter-spacing: 0.08px;
}
.features-content_btn:hover{
    cursor: pointer;
    gap: 40px;
    transition: 1s;
    color: #9C69E2;
}

.slider{
    border-radius: 50px;
    background: var(--3, #9C69E2);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 250px;
}
.slider_testimonials{
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    line-height: 130%; 
    padding: 110px;
    align-self: start;
}
.slider_content{
    height: 330px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 950px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 20px 0px 0px rgba(124, 56, 218, 0.3);
}
.slider_image{
    align-self: self-start;
    margin-top: 60px;
}
.slider_content_text-wrap{
    display: flex;
    flex-direction: column;
    align-self: self-start;
    margin-top: 80px;

}
.slider_testimonials_text{
    max-width: 566px;
}
.slider_testimonials_name{
    color: var(--2, #212353);
    font-size: 18px;
    font-weight: 900;
    line-height: 160%;
    letter-spacing: 0.09px;
}
.slider_testimonials-website{
    color: var(--3, #9C69E2);
    font-weight: 500;
    line-height: 160%; 
    letter-spacing: 0.14px;
    margin-bottom: 20px;
}
.slider_testimonials_text{
    font-size: 18px;
    line-height: 180%; 
}
.slider_navigation{
    width: 950px;
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}
.slider_dots{
    display: flex;
    align-items: center;
    width: 55px;
}
.slider_dot{
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 8px;
}
.slider_dot-activ{
    height: 8px;
    width: 8px;
    background-color: #F063B8;
}
.slider_dot:hover{
    height: 8px;
    width: 8px;
    background-color: #F063B8;
}
.slider-arrow{
    background: none;
    border: none;
    cursor: pointer;
}
.slider_prev-arrow{
    margin-right: 20px;

}
.section_try{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
}
.try_slogan-title{
    color: #212353;
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 20px;
}
.try_slogan-text{
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
}
.try_buttons{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.try_btn {
    background-color: var(--4, #F063B8);
}
.main_btn:hover, .try_btn:hover{
    color: black;
    opacity: 80%;
    cursor: pointer;
    transition: 0.1s;
} 
.footer_wrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 93px;
}
.footer_contacts_wrap{
    max-width: 335px;
}
.footer-logo{
    display: flex;
    align-items: center;
    margin-bottom: 67px;
}
.footer-logo-text{
    margin-left: 20px;
    color: var(--2, #212353);
    font-size: 20px;
    font-weight: 900;
    line-height: 160%;
}
.footer_contacts{
    display: flex;
    flex-direction: column;
}
.footer_contacts_adress{
    text-decoration: none;
    font-style: normal;
    color: var(--2, #212353);
    font-weight: 500;
    line-height: 180%; 
    letter-spacing: 0.16px;
    margin-bottom: 10px;
}
.footer_contacts_mail, .footer_contacts_tel{
    text-decoration: none;
    font-style: normal;
    color: var(--2, #212353);
    font-weight: 400;
    line-height: 180%; 
    letter-spacing: 0.16px;
}
.footer_nav_block{
    display: flex;
    flex-direction: column;
    }
.footer_nav_title{
    color: var(--2, #212353);
    font-size: 16px;
    font-weight: 900;
    line-height: 160%;
    margin-bottom: 30px;
}
.footer_nav-li{
    list-style-type: none;
}
.footer_nav-link{
    text-decoration: none;
    color: var(--2, #212353);
    font-weight: 400;
    line-height: 250%;
}
.footer_socialMedia-nav{
   display: flex;
}
.footer_socialMedia_li{
    display: inline-flex;
    opacity: 30%;
    margin-right: 10px;
}
.footer_socialMedia_link:hover{
    cursor: pointer;
}
.footer_tm{
    width: 300px;
    color: var(--2, #212353);
    font-size: 12px;
    font-weight: 400;
    line-height: 180%; 
    letter-spacing: 0.12px;
    margin-bottom: 96px;
}
.pop-up_link{
    
}
.pop-up{
    position: fixed;
    left: 90%;
    bottom: 91px;
}

.pop-up:hover{
    cursor: pointer;
}
